// font-size
$fs_d_1: 160px;
$fs_d_2: 120px;
$fs_d_3: 80px;
$fs_h_1: 48px;
$fs_h_2: 40px;
$fs_h_3: 32px;
$fs_h_4: 28px;
$fs_h_5: 24px;
$fs_h_6: 20px;
$fs_b: 16px;
$fs_s: 14px;
$fs_t: 12px;

// size
$size_1: 4px;
$size_2: 8px;
$size_3: 12px;
$size_4: 16px;
$size_5: 20px;
$size_6: 24px;
$size_7: 28px;
$size_8: 32px;


// color
$black: #020202;
$black_80: #525252; 
$black_60: #919191;
$black_40: #d1d1d1;
$black_20: #f2f2f2;
$white: #ffffff;
$primary: #f18724;
$surface: #f2efe7;